@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("fonts/OpenSans-ExtraBold.ttf");
}

body {
  font-family: "OpenSans-ExtraBold", "Helvetica", "sans-serif";
  background-color: #f0f0e8;
}

header h1 {
  color: #009288;
  font-size: 56px;
  font-weight: 800;
  text-align: center;
}

header p {
  font-size: 18px;
  font-weight: 900;
  color: #92979f;
  text-align: center;
}

main {
  width: 1200px;
  margin: 25%;
  margin-top: 5%;
}

article {
  display: inline-block;
  width: 220px;
  text-align: center;
  opacity: 55%;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

article:hover {
  background-color: #f6f6f5;
  border-left: 10px solid #009288;
  cursor: pointer;
  opacity: 100%;
  padding-left: unset;
}

article h1 {
  font-family: "OpenSans-ExtraBold";
}

article p {
  font-family: "OpenSans";
  font-size: 20px;
}
